.newPassword {
  padding: 177px 0 265px 0;
  margin: 0 auto;
  color: #090A0D;
  background-color: #fefefe;
}

.newPassword__content {
  width: 544px;
  padding: 48px 0 56px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 10px 70px rgba(173, 185, 197, 0.2);
  border-radius: 16px;
}

.newPassword__title {
  padding: 0 0 24px 0;
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
}

.newPassword__text {
  padding: 0 0 32px 0;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.newPassword__link {
  margin: 0;
  padding: 12px 0;
  background-color: #ba2849;
  color: #fefefe;
  width: 352px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.newPassword__link:hover {
  background-color: #db486a;
  transition: 0.4s linear 0.1s;
}
