.header {
  background-color: #FEFEFE;
  width: 100%;
  border-bottom: 1px solid #D2D9E0;
  text-align: start;
}

.header__logo {
  display: block;
  width: 140px;
  height: 20px;
  padding: 30px 84px;
}