.header {
  background-color: #FEFEFE;
  width: 100%;
  border-bottom: 1px solid #D2D9E0;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  display: block;
  max-width: 140px;
  margin: 30px 84px;
}

.header__logo {
  display: block;
  width: 140px;
  height: 20px;
}

@media screen and (max-width: 1023px) {
  .header__link {
    margin: 20px 18px;
    max-width: 148px;
  }
  .header__logo {
    width: 148px;
    height: 44px;
  }
}

@media screen and (max-width: 600px) {
  .header__link {
    margin-left: 18px;
    max-width: 120px;
  }
  .header__logo {
    width: 120px;
    height: 36px;
  }
}