.content {
  margin: 0 auto;
  width: 100%;
}

.registration {
  max-width: 544px;
  margin: 32px auto 0;
  padding: 48px 96px 56px;
  box-shadow: 5px 5px 70px rgba(173, 185, 197, 0.2);
  border-radius: 16px;
}

.registration__info {
  max-width: 352px;
  margin: 0 auto;
  box-sizing: border-box;
}

.registration__links {
  list-style: none;
  padding: 8px 0 40px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.registration__link {
  text-decoration: none;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: #ADB9C5;
  margin: 0;
  padding: 0 0 0 8px;
}

.registration__link_active {
  text-decoration: none;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: #090A0D;
  margin: 0;
  padding: 0;
}

.registration__input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.registration__form-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #666D7A;
  margin: 0;
  padding: 0;
  text-align: left;
}

.registration__input {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #090A0D;
  border: 1px solid #ADB9C5;
  border-radius: 4px;
  height: 48px;
  padding: 0 0 0 12px;
  margin: 0 0 28px 0;
}

.registration__input::placeholder {
  color: #ADB9C5;
}

.registration__input:hover {
  border: 1px solid #3C4352;
}

.registration__input:focus {
  border: 1.5px solid #090A0D;
  outline: none;
}

.registration__input_type_error {
  border: 1.5px solid #C93434;
  outline: none;
}

.registration__input_type_error-big {
  margin-bottom: 56px;
}

.registration__checkbox-form {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.registration__policy-text {
  color: #090A0D;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  min-width: 389px;
  text-align: left;
}

.registration__policy-link {
border-bottom: 1px solid #090A0D;
text-decoration: none;
color: #090A0D;
}

.registration__policy-link:hover {
  transition: .4s linear .1s;
  cursor: pointer;
  opacity: .5;
}

.registration__input-error {
  position: absolute;
  top: calc(100% - 24px);
  left: 0;
  max-width: 352px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #C93434;
  min-height: 30px;
  text-align: start;
  margin: 0;
  padding: 0;
}

.registration__input-error-big {
  position: absolute;
  top: calc(100% - 50px);
  left: 0;
  max-width: 352px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #C93434;
  min-height: 30px;
  text-align: start;
  margin: 0;
  padding: 0;
}

.registration__submit-button {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #E6EDF4;
  background: #11B5DD;
  max-width: 100%;
  padding: 12px 83px;
  margin: 45px 0 56px;
  border-radius: 8px;
  border: none;
}

.registration__submit-button_disabled {
  background: #11B5DD;
}

.registration__submit-button_active {
  background: #00A2C9;
  color: #FEFEFE;
  cursor: pointer;
}

.registration__submit-button_active:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transition: .4s linear .1s;
}

.registration__submit-button_active:focus {
  background: #0094B8;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
}
