.content-registration {
  margin: 0 auto;
  width: 100%;
  text-align: none;
  display: flex;
}

@media (max-height: 740px) {
  .content-registration {
    position: relative;
  }
}

.registration {
  min-width: 544px;
  min-height: 564px;
  margin: 20px auto 0;
  padding: 40px 0 36px;
  box-shadow: 5px 5px 70px rgba(173, 185, 197, 0.2);
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-height: 740px) {
  .registration {
    transform: translate(-50%, 0);
  }
}

@media (max-width: 600px) {
  .registration {
    min-width: 328px;
    min-height: 640px;
    padding-bottom: 0;
  }
}

@media (max-width: 359px) {
  .registration {
    min-width: 304px;
  }
}

.registration__info {
  max-width: 352px;
  height: 348px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 1023px) {
  .registration__info {
    height: 284px;
  }
}
@media (max-width: 600px) {
  .registration__info {
    max-width: 288px;
  }
}

@media (max-width: 359px) {
  .registration__info {
    max-width: 264px;
    height: 260px;
  }
}

.registration__links {
  list-style: none;
  padding: 0 0 40px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .registration__links {
    padding-bottom: 36px;
  }
}

.registration__link {
  text-decoration: none;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: #ADB9C5;
  margin: 0;
  padding: 0 0 0 8px;
}

@media (max-width: 600px) {
  .registration__link {
    font-size: 22px;
  }
}

.registration__link_active {
  text-decoration: none;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: #090A0D;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .registration__link_active {
    font-size: 22px;
  }
}

.registration__input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.registration__form-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #666D7A;
  margin: 0;
  padding: 0;
  text-align: left;
}

.registration__input {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #090A0D;
  border: 1px solid #ADB9C5;
  border-radius: 4px;
  height: 48px;
  padding: 0 0 0 12px;
  margin: 4px 0 25px 0;
}

.registration__input::placeholder {
  color: #ADB9C5;
}

.registration__input:hover {
  border: 1px solid #3C4352;
}

.registration__input:focus {
  border: 1.5px solid #090A0D;
  outline: none;
}

.registration__input_type_error {
  border: 1.5px solid #C93434;
  outline: none;
}

.registration__input_type_error-big {
  margin-bottom: 56px;
}

.registration__checkbox-form {
  display: flex;
  flex-direction: row;
  margin: 28px 0 0;
  padding: 0;
  max-width: 350px;
}

@media (max-width: 1023px) {
  .registration__checkbox-form {
    max-width: 352px;

  }
}
@media (max-width: 600px) {
  .registration__checkbox-form {
    max-width: 291px;
    margin-bottom: 24px;
  }
}

@media (max-width: 359px) {
  .registration__checkbox-form {
    max-width: 267px;
  }
}

.registration__policy-text {
  color: #090A0D;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  min-width: 324px;
  text-align: left;
}

@media (max-width: 1023px) {
  .registration__policy-text {
    padding-right: 12px;
  }
}
@media (max-width: 600px) {
  .registration__policy-text {
    min-width: 232px;
  }
}

@media (max-width: 359px) {
  .registration__policy-text {
    min-width: 232px;
  }
}

.registration__policy-link {
  border-bottom: 1px solid #090A0D;
  text-decoration: none;
  color: #090A0D;
}

.registration__policy-link:hover {
  transition: .4s linear .1s;
  cursor: pointer;
  color: #00A2C9;
  border-bottom: 1px solid #00A2C9;
}

.registration__policy-link:focus {
  color: #0094B8;
  border-bottom: 1px solid #0094B8;
}

.registration__input-error {
  position: absolute;
  top: calc(100% - 24px);
  left: 0;
  max-width: 352px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #C93434;
  min-height: 30px;
  text-align: start;
  margin: 0;
  padding: 0;
}

.registration__input-error-big {
  position: absolute;
  top: calc(100% - 50px);
  left: 0;
  max-width: 352px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #C93434;
  min-height: 30px;
  text-align: start;
  margin: 0;
  padding: 0;
}

.registration__submit-button {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #E6EDF4;
  background: #11B5DD;
  max-width: 100%;
  padding: 12px 83px;
  margin: 0;
  border-radius: 8px;
  border: none;
}

@media (max-width: 1023px) {
  .registration__submit-button {
  }
}

@media (max-width: 600px) {
  .registration__submit-button {
    font-size: 16px;
    font-weight: 500;
    max-width: 288px;
    padding: 12px 62.5px;
  }
}

@media (max-width: 359px) {
  .registration__submit-button {
    max-width: 264px;
    padding: 12px 50.5px;
  }
}

.registration__submit-button_disabled {
  background: #11B5DD;
}

.registration__submit-button_active {
  background: #00A2C9;
  color: #FEFEFE;
  cursor: pointer;
}

.registration__submit-button_active:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transition: .4s linear .1s;
}

.registration__submit-button_active:focus {
  background: #0094B8;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
}