.passwordTooltip {
  /* padding: 177px 0 265px 0; */
  margin: 0 auto;
  color: #090a0d;
  background-color: #fefefe;
}

.passwordTooltip_type_update{
  padding: 177px 0 265px 0;
}

.passwordTooltip_type_recovery{
  padding: 198px 0 287px 0;
}

.passwordTooltip__content {
  width: 544px;
  padding: 48px 0 56px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 10px 70px rgba(173, 185, 197, 0.2);
  border-radius: 16px;
}

.passwordTooltip__title {
  padding: 0 0 24px 0;
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
}

.passwordTooltip__text {
  padding: 0 0 32px 0;
  margin: 0;
  width: calc(100% - 2 * 83px);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.passwordTooltip__link {
  margin: 0;
  padding: 12px 0;

  color: #fefefe;
  width: 352px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none;
  background-color: #00a2c9;
}

.passwordTooltip__link:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 20%);
  /* transition: 0.4s linear 0.1s; */
}

.passwordTooltip__link:focus {
  background-color: #0094b8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 20%);
}

.passwordTooltip__link_disabled {
  background-color: #11b5dd;
  /* cursor: none; */
}
