.FormRequest{
  margin: 0 auto;
  width: 100%;
  text-align: none;
  display: flex;
}

.form {
  margin: 0 auto;
  color: #000;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__content {
  width: 544px;
  padding: 48px 0 56px 0;
  margin: 20px 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(173, 185, 197, 0.2);
  border-radius: 16px;
  position: relative;
}

.form__title {
  padding: 0 0 32px 0;
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
}

.form__button {
  width: 352px;
  height: 48px;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  border: none;
}

.form__button_active {
  background-color: #00a2c9;
  color: #fefefe;
  cursor: pointer;
}
.form__button_active:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transition: 0.4s linear 0.1s;
}
.form__button_active:focus {
  background-color: #0094b8;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.form__button_disabled {
  background-color: #11b5dd;
  color: #e6edf4;
}

@media (max-width: 600px) {
  .form__content {
    width: 328px;
    padding: 40px 0 52px 0;
  }
  .form__title {
    font-size: 22px;
  }
  .form__button {
    width: 288px;
    font-size: 16px;
  }
}

@media (max-width: 330px) {
  .form__content {
    width: 304px;
  }
  .form__button {
    width: 264px;
  }
}
