.recoveryPassword {
  padding: 198px 0 287px 0;
  margin: 0 auto;
  color: #000;
  background-color: #fefefe;
}

.recoveryPassword__content {
  width: 544px;
  padding: 48px 0 56px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 10px 70px rgba(173, 185, 197, 0.2);
  border-radius: 16px;
}

.recoveryPassword__title {
  padding: 0 0 24px 0;
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
}

.recoveryPassword__text {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: calc(100% - 2 * 83px);
}