@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

.page {
  width: 100%;
  background-color: #fff;
  min-width: 320px;
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
  color: #000;
  font-family: "Manrope", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: 100%;
}